@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
// @import '~bootstrap/dist/css/bootstrap-grid.min.css';
$green: #a3bede;
$blue: #b8d4f6;
$bluebuttom:#215ea9;
$orange: #E38968;
$gray: #92959E;
.Chat-body {
    display: flex;
    height: 95vh;
    width: 100vw;
    color: white;
    overflow: hidden;
}

.Chat-container {
    display: flex;
    width: 100%;
}