#Login-backward {
    position: fixed;
    left: 40%;
}

.Transcendence-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Transcendence-username {
    box-shadow: 0px 0px 8px #ddd;
    margin-top: 1vmin;
    font-size: large;
    height: 3vmin;
}

.Transcendence-password {
    margin-top: 1vmin;
    font-size: large;
    height: 3vmin;
}

.Transcendence-button {
    margin-top: 1vmin;
    font-size: large;
    height: 3vmin;
}