.LoginSelector-card::hover > .Login-backward {
    color: black;
}

.Login-backward {
    color: whitesmoke;
}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vmin;
}

.Login-username > input {
    height: 5vmin;
}

.Login-password > input {
    height: 5vmin;
}

.Login-submit > input {
    background-color: darkblue;
    height: 5vmin;
}