.FriendsList {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    flex-grow: 1;
    color: #eee;
}

.FriendsList-title {
    background-color: rgb(8,129,150);
    height: 4vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FriendsList-search-bar-container {
    margin-top: 1vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 20%;
}

.FriendsList-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vmin;
}

.FriendsList-user {
    display: flex;
    text-align: center;
    justify-content: center;
}

.FriendsList-messages {
    position: fixed;
    border: 1px solid #d1a23a;
    background-color: rgb(8,129,150);
    bottom: 0;
    width: 24.9%;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}