
.container {
    padding: 5px;
    max-height: 400px;
    max-width: 100%;
    display: flex; /*added*/
    flex-direction: column; 
    display:inline-block;
    /* display: flex; */
    /* background-color: black; */
    /* height: 100vh; */
    /* overflow-y: auto; */
    /* text-decoration-color: blanchedalmond; */
}
  
.srolling_bar{
    overflow-y: hidden;
    overflow-x: hidden;
     flex: 1; /* added */

}
.col-6{
    max-height: inherit;
}
.col {
    max-height: inherit;
}


/* .srolling_bar {
    overflow-y: scroll;
    scrollbar-color: grey;
} */