/* Set default styles for the <table>, <thead>, <tbody>, <tr> and <td> elements */
.Stats {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.Stats-table-empty {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Stats-table-container {
	height: 90vh;
	width: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Stats-table-container::-webkit-scrollbar {
	display: none;
}

.Stats-table {
	width: 99%;
	border: 1px solid #fff;
	border-collapse: collapse;
	margin-bottom: 7vh;
}


.Stats-table-head {
	background-color: #242424;
	height: 5vh;
	border: 1px solid #fff;
}

.Stats-table-row {
	height: 5vh;
	border-bottom: 1px solid #fff;
}

.Stats-table-row:hover {
	background-color: #555555;
}

.Stats-table-row-first {
	background-color: goldenrod;
}

.Stats-table-row-first:hover {
	background-color: gold;
}

.Stats-table-row-second {
	background-color: silver;
}

.Stats-table-row-second:hover {
	background-color: #dad8d8;
}

.Stats-table-row-third {
	background-color: #cd7f32;
}

.Stats-table-row-third:hover {
	background-color: #fc9610;
}

.Stats-profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Stats-picture {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	object-fit: cover;
	border-radius: 50%;
}

.Stats-td {
	padding: 10px;
	text-align: center;
}

.Stats-no-match {
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}