.Profile-body {
    color: white;
    min-height: 100vmin;
    min-width: 100vmin;
    display: flex;
    justify-content: center;
}

.Profile-card {
    display: grid;
    justify-content: center;
    width: 45%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}

.Profile-card-title {
    font-size: 3vmin;
    margin-bottom: 2vmin;
}

.Profil-2fa-button:hover {
    transition: background-color 300ms;
    background-color: rgb(3, 169, 244);
}

.Profil-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.Profil-switch .Profil-input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.Profil-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.Profil-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.Profil-input:checked + .Profil-slider {
    background-color: rgb(74, 196, 74);
}
  
.Profil-input:focus + .Profil-slider {
    box-shadow: 0 0 1px rgb(74, 196, 74);
}
  
.Profil-input:checked + .Profil-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}  
  
/* Rounded sliders */
.Profil-slider.Profil-round {
    border-radius: 34px;
}
  
.Profil-slider.Profil-round:before {
    border-radius: 50%;
}