.Friend-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.Friend-profile-picture {
    margin-bottom: 1vmin;
    height: 5vmin;
    width: 5vmin;
    object-fit: cover;
    border-radius: 50%;
}

.Friend-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Friend-wrapper-profile-picture {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.Friend-wrapper-profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Friend-circle-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.Friend-circle-status.Friend-online {
  background-color: green;
}

.Friend-circle-status.Friend-offline {
  background-color: gray;
}

.Friend-name-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Friend-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.Friend-message.Friend-online {
  color: green;
}

.Friend-message.Friend-offline {
  color: gray;
}

.Friend-dropdown-content {
  /* display: none; */
  position: absolute;
  right: 3vw;
  z-index: 1;
}

/* .Friend-dropdown:hover .Friend-dropdown-content {
  display: block;
} */

.Friend-dropdown-content div {
  background-color: #1d2c41;
  color: white;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Friend-dropdown-content div:hover {
  cursor: pointer;
  background-color: #445454;
}