.SearchBar-input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

#SearchBar-input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
}

#SearchBar-input:focus {
    outline: none;
}

#SearchBar-add-user-button {
    background-color: transparent;
    border: none;
}

#SearchBar-add-user-button:hover > #SearchBar-add-user-icon {
    color: rgb(24, 170, 13);
}

#SearchBar-add-user-icon {
    color: rgb(8,129,150);
}

.SearchBar-results-list {
    position: absolute;
    color:#242424;
    width: 20.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 10rem;
    overflow-y: scroll;
}


.SearchBar-search-result {
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
}

.SearchBar-search-result:hover {
    background-color: #efefef;
}