.Lobby {
    display: flex;
    margin: 0;
    padding: 0;
}

.Lobby-content {
    width: 100%;
    height: 100%;
    flex-basis: calc(100% * (3/4));
}

.Lobby-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 15% 0;
    padding: 0;
    color: whitesmoke;
}

.Lobby-buttons-container {
    display: flex;
    justify-content: center;
}

.Lobby-selector-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10% 15%;
    cursor: pointer;
}