.HomeContent {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--Navbar-border-color);
    flex-basis: calc(100% * (3/4));
}

.HomeContent-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomeContent-text {
    margin-top: 7vmin;
    position: absolute;
    width: 75%;
    height: 100%;
    flex-basis: calc(100% * (3/4));
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: 400;
    font-size: 5vmin;
}