.LoginSelector-body {
    color: white;
    min-height: 100vmin;
    min-width: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.LoginSelector-logo {
    width:15vmin;
    height:15vmin;
}

.LoginSelector-card {
    background-color: rgb(10, 10, 10);
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid rgb(3, 169, 244);
    border-radius: 8px;
    position: relative;
    width: 56vmin;
    text-align: center;
}

.LoginSelector-card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}
  
.LoginSelector-card:hover > .LoginSelector-card-content {
    background-position: -10% 0%;
}
  
.LoginSelector-card:hover > .LoginSelector-card-content > .LoginSelector-card-subtitle > .LoginSelector-card-subtitle-word {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.LoginSelector-card:hover > .LoginSelector-card-content .LoginSelector-invert-effect {
    transition: filter 200ms;
    filter: invert(0%);
}

.LoginSelector-card:before {
      background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      rgb(98, 0, 234) 66%, 
      rgb(236, 64, 122) 83.5%, 
      rgb(253, 216, 53) 100%
    );
    border-radius: 8px;
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
}
  
.LoginSelector-card-content {
      background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
}

.LoginSelector-invert-effect {
    filter: invert(100%)
}
  
.LoginSelector-card-title,
.LoginSelector-card-subtitle {
    font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    margin: 0px;
}
  
.LoginSelector-card-title {
    text-align: center;
    font-size: 5vmin;
}
  
.LoginSelector-card-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 3vmin;
    margin-top: 2vmin;
}
  
.LoginSelector-card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
}

.LoginSelector-button {
    cursor:pointer;
    border-radius: 0.5vmin;
    background-color: rgb(24, 30, 37);
    margin-top: 1.5vmin;
    display: flex;
    width: 100%;
    border: 1px solid rgb(255, 255, 255, 0.1);
    color: white;
    text-decoration: none;
}

.LoginSelector-input {
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 2rem;
}

.LoginSelector-input:focus {
    outline: none;
    background-color: rgb(50, 50, 50);
}

.LoginSelector-input::placeholder {
    padding: 3px;
    font-size: 1.5rem;
    font-style: italic;
}

.LoginSelector-submit {
    background-color: transparent;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.LoginSelector-button:hover {
    transition: background-color 300ms;
    background-color: rgb(50, 50, 50);
}

.LoginSelector-button > .LoginSelector-button-content {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.LoginSelector-button-video {
    background-color: transparent;
}

.Button-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.LoginSelector-button > .LoginSelector-button-image {
    font-size: 2.5rem;
    flex-basis: calc(100% / 3);
}

.LoginSelector-button > .LoginSelector-button-content > .LoginSelector-button-text {
    flex-grow: 1;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.LoginSelector-create-account {
    margin-top: 2vmin;
}
