.Ranked-mid-column {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Ranked-player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}