.heading {
    text-align: center;
    margin-bottom: 20px;
}

.winner-loser-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.winner-info,
.loser-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-title,
.loser-title {
  padding-bottom: 4vh;
  border-bottom: 3px solid rgb(var(--primary-rgb) / 50%);
}

#winner-elo {
  text-shadow: 0px 0px 0.5rem rgb(var(--secondary-rgb) / 50%);
  color: rgb(var(--secondary-rgb));
}

#loser-elo {
  text-shadow: 0px 0px 0.5rem rgb(var(--quaternary-rgb) / 50%);
  color: rgb(var(--quaternary-rgb));
}