.Home-content {
    display: flex;
    margin: 0;
    padding: 0;
}

.Home-game {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--Navbar-border-color);
    flex-basis: calc(100% * (6/8));
}

.Home-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-game-text {
    margin-top: 7vmin;
    position: absolute;
    width: 75%;
    height: 100%;
    flex-basis: calc(100% * (6/8));
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 5vmin;
}

/* .hero {
    font-size: clamp(40px, 10vw, 100px);
    line-height: 1;
    display: inline-block;
    color: #fff;
    z-index: 2;
    letter-spacing: 10px;
  
    /* Bright things in dark environments usually cast that light, giving off a glow */
    /*filter: drop-shadow(0 1px 3px);
}

.layers {
    position: relative;
}
  
.layers::before,
.layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
}
  
.layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
}
  
.layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
}

.glitch span {
    animation: paths 5s step-end infinite;
}
  
.glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
}
  
.glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
} */

  .Home-friend {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--Navbar-border-color);
    flex-grow: 1;
}

.Home-friend-menu {
    background-color: rgb(8,129,150);
    height: 4vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-friend-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vmin;
}

.Home-friend-user {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5vmin;
}

.Home-friend-icon {
    position: fixed;
    border: 1px solid #d1a23a;
    background-color: rgb(8,129,150);
    bottom: 0;
    width: 24.5%;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}