.Home-content {
    display: flex;
}

.Home-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid var(--Navbar-border-color);
    flex-basis: calc(100% * (6/8));
}

.Home-friend {
    display: flex;
    justify-content: center;
    background-color: green;
    flex-grow: 1;
}