.Home-content {
    display: flex;
    margin: 0;
    padding: 0;
}

.Home-game {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--Navbar-border-color);
    flex-basis: calc(100% * (6/8));
}

.Home-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-game-text {
    margin-top: 7vmin;
    position: absolute;
    width: 75%;
    height: 100%;
    flex-basis: calc(100% * (6/8));
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 5vmin;
}

.Home-friend {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--Navbar-border-color);
    flex-grow: 1;
}

.Home-friend-menu {
    background-color: rgb(8,129,150);
    height: 4vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-friend-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vmin;
}

.Home-friend-user {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5vmin;
}

.Home-friend-icon {
    position: fixed;
    border: 1px solid #d1a23a;
    background-color: rgb(8,129,150);
    bottom: 0;
    width: 24.5%;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}